<h1>Projects</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Image</th>
            <th>Repository</th>
            <th>Link</th>
            <th>Client</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @projects.each do |project| %>
        <tr>
            <td><%= project.name %></td>
            <td><%= project.date %></td>
            <td><% if project.image_url %><%= project.image_url %><% end %></td>
            <td><%= project.repository %></td>
            <td><%= project.link %></td>
            <td><%= project.client %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>