<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @project.name %>
</p>

<p>
    <strong>Date:</strong>
    <%= @project.date %>
</p>

<p>
    <strong>Image:</strong>
    <% if @project.image? %>
    <img src="<%= @project.image_url %>">
    <% end %>
</p>

<p>
    <strong>Repository:</strong>
    <%= @project.repository %>
</p>

<p>
    <strong>Link:</strong>
    <%= @project.link %>
</p>

<p>
    <strong>Client:</strong>
    <%= @project.client %>
</p>

<p>
    <strong>Content:</strong>
    <%= @project.content %>
</p>

<p>
    <strong>Tags:</strong>
    <% @project.tags.each do |t| %>
    <span><%= t.name %></span>
    <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>